.question-text {
    font-family: $question-text-font-stack;
    font-size: 50px;
    text-align: center;
}

.answer-text {
    background-color: $inactive-button-color;
    box-shadow: $inactive-button-box-shadow;
    border: none;
    border-radius: 15px;
    color: #FFF;
    display: flex;
    font-family: $answer-choice-text-font-stack;
    font-size: 30px;
    margin: 20px auto;
    min-width: 90%;
    padding: 10px;
    justify-content: center;
        &:hover {
            background-color: $active-button-color;
            box-shadow: $active-button-box-shadow;
            cursor: pointer;
        }
}