.question-text {
    font-family: $question-text-font-stack;
    font-size: 50px;
    text-align: center;
}

.answer-text {
    font-family: $answer-choice-text-font-stack;
    font-size: 30px;
    text-align: center;
}