.study-pal-logo {
    display: flex;
    height: 200px;
    margin: auto;
}

.study-choice-buttons-container {
    display: flex;
    padding: 20px;
}

.study-choice-buttons {
    background-color: #657D89;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 1px #51646E;
    color: #FFF;
    font-family: $user-choice-buttons-font-stack;
    font-size: 20px;
    height: 70px;
    margin: auto;
    padding: 10px;
    width: 25%;
        &:hover {
            background-color: #8497A1;
            box-shadow: 1px 1px #657D89;
            cursor: pointer;
            
        }
}