.study-pal-logo {
    display: flex;
    height: 200px;
    margin: auto;
}

.study-choice-buttons-container {
    display: flex;
    padding: 20px;
}

.study-choice-buttons {
    background-color: $inactive-button-color;
    border-radius: 15px;
    border: none;
    box-shadow: $inactive-button-box-shadow;
    color: #FFF;
    font-family: $user-choice-buttons-font-stack;
    font-size: 20px;
    min-height: 100px;
    margin: auto;
    padding: 10px;
    width: 30%;
        &:hover {
            background-color: $active-button-color;
            box-shadow: $active-button-box-shadow;
            cursor: pointer;
        }
}