//FONT VARIABLES

$header-font-stack: 'Anton', sans-serif;
$user-choice-buttons-font-stack: 'Courgette', 'Open Sans', cursive;
$question-text-font-stack: 'Economica', 'Open Sans', sans-serif; 
$answer-choice-text-font-stack: 'ZCOOL QingKe HuangYou', 'Montserrat', 'Lato', 'Open Sans', sans-serif;

//COLOR VARIABLES

$inactive-button-color: #657D89;
$inactive-button-box-shadow: 2px 1px #51646E;
$active-button-color: #8497A1;
$active-button-box-shadow: 2px 1px #657D89;